body {
	background-color: black;
	text-align: center;
}
.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p	{
	color: red;
}

body2 {
	background-color: black;
	text-align: center;
}
.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p	{
	color: red;
}
